.app {
  header {
    background-color: $darkblue;

    .navbar-brand {
      width: 100%;
      background-size: cover;
      img {
        @media(max-width: 991px) {
          margin-left: 250px;
        }
        @media(max-width: 767px) {
          margin-left: 150px;
        }
        @media(max-width: 500px) {
          margin-left: 120px;
        }
        @media(max-width: 450px) {
          margin-left: 100px;
        }
        @media(max-width: 400px) {
          margin-left: 75px;
        }
        @media(max-width: 360px) {
          margin-left: 45px;
        }
        @media(max-width: 330px) {
          margin-left: 25px;
        }
      }

    }
    .navbar-toggler {
      @media(max-width: 991px) {
        display: block;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 68px;
        height: 60px;
        margin-left: auto;
        font-size: 25px;
        text-indent: -9999px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none;
        border-radius: none;
        border: none;
        cursor: pointer;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
        background: #808080;
        &:focus {
          outline: none;
        }
        span {
          display: block;
          position: absolute;
          top: 28px;
          left: 15px;
          right: 15px;
          height: 6px;
          background: white;
          &:before,
          &:after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 6px;
            background-color: #fff;
            content: "";
          }
          &:before {
            top: -18px;
          }
          &:after {
            bottom: -18px;
          }
        }
      }
    }

    .navbar-nav {

      li {
        margin-right: 25px;

        a {
          font-family: "AvenirNextCyr", sans-serif;
          font-size: 24px;
          color: $dark-gray;
        }
      }

      li:last-child {
        margin-right: 0;
      }
    }
    .social-icons {
      padding-top: 20px;
      @media(max-width: 991px) {
        display: none !important;
      }
      li {
        margin-right: 20px;
        list-style: none;

        a {

          i {
            font-size: 35px;
            color: #2F4F4F;
          }
        }
      }

      li:hover a {
        text-decoration: none;
      }

      li.gitHub {
        margin-right: 40px;
      }
    }
  }

  section.content {
    padding: 20px 0;
    aside {
      .sort-by,
      .instant-search {
        font-size: 1.2rem;
        margin-top: 40px;
        p {
          margin-top: 5px;
          font-size: 0.8em;
        }
      }
      .instant-search {
        .aside-search {
          position: relative;
          &::after {
            font-family: 'icomoon';
            font-weight: 900;
            content: '\e986';
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            color: $main-text;
            font-size: 30px;
          }
        }
      }

      .aside-search {
        display: flex;
        margin-top: 5px;
        select,
        input,
        button {
          font-size: 1.2rem;
          border-radius: 0 5px 5px 0;
          padding: 10px 15px;
        }

        select,
        input {
          flex: 1 0 auto;
          color: $main-text;
          width: calc(100% - 60px);
          border-radius: 5px 0 0 5px;
          border: 1px solid rgb(169,169,169);
          &:focus {
            outline: 0;
          }
        }

        select {
          background: none;
        }

        input {
          border-radius: 5px;
          padding-right: 45px;
        }
      }
    }

    main {
      .right-half-row.posts {
        .post {
          box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.2);
          margin: 40px 0;
          @media(max-width: 991px) {
            flex-direction: column;
          }
          &:hover {
            .post-img {
              img {
                transform: scale(1.1);
              }
            }
          }
          .post-img {
            flex: 0 0 35%;
            height: auto;
            overflow: hidden;

            @media(max-width: 1199px) {
              height: auto;
            }

            @media(max-width: 991px) {
              width: 100%;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: .3s ease;
            }
          }
          .post-body {
            padding: 15px;
            flex: 1 1 auto;
            @media(max-width: 991px) {
              width: 100%;
            }
            h3.post-title {
              margin-top: 10px;
              margin-bottom: 15px;
              font-family: "AvenirNextCyr", sans-serif;
              font-size: 32px;
              font-weight: 700;
            }
            span.post-date {
              margin-bottom: 10px;
              font-family: "AvenirNextCyr", sans-serif;
              font-weight: 300;
              font-size: 22px;
              font-style: italic;
            }
            p.post-description {
              margin-bottom: 15px;
              font-family: "AvenirNextCyr", sans-serif;
              font-weight: 400;
              font-size: 20px;
              line-height: 34px;
            }
            .post-tags {
              span {
                font-family: "AvenirNextCyr", sans-serif;
                font-weight: 300;
                font-size: 22px;
                font-style: italic;
              }

              ul {
                padding-left: 10px;
                flex-wrap: wrap;
                li {
                  margin-bottom: 10px;
                  padding-left: 5px;
                  list-style: none;
                  &::after {
                    content: ",";
                    color: $darkblue;
                  }
                  &:last-child {
                    &::after {
                      content: "";
                    }
                  }
                  &:hover {
                    a {
                      text-decoration: none;
                    }
                  }
                  a {
                    font-family: "AvenirNextCyr", sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    font-style: italic;
                    color: $darkblue;
                  }
                }
              }
            }
            .post-btns {
              margin-top: 10px;
              button {
                &.del-btn {
                  &:hover {
                    background-color: $red;
                  }
                }
              }
            }
          }
        }
      }

    }
  }

  footer {
    background-color: $darkblue;
    .footer-top {
      padding: 20px 0;
      .container {
        position: relative;
          .col-12 {
            .social-icons {
              @media (max-width: 400px) {
                padding-left: 0;
              }
              li {
                margin-bottom: 20px;
                list-style: none;

                a {
                  font-family: "AvenirNextCyr", sans-serif;
                  font-size: 16px;
                  color: $dark-gray;

                  i {
                    margin-right: 25px;
                    font-size: 24px;
                    color: $dark-gray;
                  }
                  &:hover {
                    text-decoration: none;
                  }
                }
              }

              li:last-child {
                margin-bottom: 0;
              }
            }
          @media (max-width: 575px) {
            flex-direction: column;
            .col-md-3 {
              @media (max-width: 575px) {
                margin: 0 auto 25px;
                width: 180px;
              }
            }
            .col-md-5 {
              @media (max-width: 575px) {
                margin: 0 auto;
                padding-left: 0;
                padding-right: 10px;
                width: 250px;
              }
            }

          }

        }
        a {
          font-family: "AvenirNextCyr", sans-serif;
          font-size: 24px;
          color: $dark-gray;
        }

        &:after {
          position: absolute;
          content: "";
          bottom: 0;
          left: 15%;
          width: 70%;
          border-bottom: 2px solid #000000;
          @media(max-width: 767px) {
            left: 5%;
            width: 90%;
          }
        }
      }
    }
    .footer-bottom {
      padding: 20px 0;

      .d-flex {
        font-family: "AvenirNextCyr", sans-serif;
        font-size: 20px;
        color: #2F4F4F;
        &:hover a {
          text-decoration: none;
        }
        a {
          padding-left: 7px;
          font-style: italic;
          color: $silver;
        }
      }
    }
  }
}

.btn {
  position: relative;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 0;
  outline: 0;
  padding: 10px 15px;
  color: $white;
  background-color: $darkblue;
  -webkit-transition-duration: 0.4s;    /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  &:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, .5);
  }
  &::after {
    content: "";
    background: rgba(255, 255, 255, .5);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 400%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.4s;
  }
  &:active{
    &:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s;
    }
  }
}

.only-ten-posts-btn {
  display: none;
  position: fixed;
  bottom: 10%;
  left: 15px;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  white-space: normal;
  &.active {
    display: block;
  }
}

